<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="cari" placeholder="ketikkan kata kunci">
        <ul>
            <li v-for="(people,i) in users">
                {{people.name}}
                <button>Edit</button>
                <button=v-on:click="delete">delete</button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                cari: '',
                name: [
                    "Muhammad Iqbal Mubarok",
                    "Ruby Purwanti",
                    "Faqih Muhamamd",
                ],

                computed: {
                    filterbuku: function () {
                        return this.books.filter((books) => {
                            return books.match(this.cari)
                        });
                    }
                }
            });
    </script>
</body>

</html>
</script>